# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl
/**/backend.hcl

# Terraform CLI config (if used)
.terraformrc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# Overrides (local)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# Editor/OS
.DS_Store
Thumbs.db

# Logs
*.log
